<%= simple_form_for(@house) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :profile %>
    <%= f.input :electricity %>
    <%= f.input :fuel %>
    <%= f.input :gas %>
    <%= f.input :water %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
